/*********************  FOOTER  *********************/
.footer {
    background-color: #273440;
    text-align: center;
    color: #F0F0F0;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }