/*********************  HEADER *********************/
.logo img {
    height: 50px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: $color_principal;
    padding: 10px;
    font-size: 18px;
  }